<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eNews.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eNews.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="eNews.activity.ChannelActivity" >
        </activity>
        <activity android:name="eNews.activity.VideoNewsActivity" >
        </activity>
        <activity android:name="eNews.activity.WeatherActivity" >
        </activity>
        <activity android:name="eNews.activity.NewsDetailActivity" >
        </activity>
        <activity android:name="eNews.activity.PictureDetailActivity" >
        </activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="eNews.activity.VideoPlayActivity" >
        </activity>
        <activity android:name="eNews.activity.MainWindows" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>